@model IEnumerable<EventPlanning.Models.EventsViewModels.AllEventViewModel>

@{
    ViewData["Title"] = "AllEventsView";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions {
    public string GetXsrfToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" name="RequestVarificationToken"
       id="RequestVarificationToken" value="@GetXsrfToken()" />

<h2 class="shadow">
    <a href="#" id="sideCalendarBtn" data-toggle="tooltip" data-target="top" title="Выбрать дату">📅</a>   
    <a href="#" id="sideRefreshBtn" data-toggle="tooltip" data-target="top" title="Обновить">Все события</a>
</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th class="text-center">
                Дата
            </th>
            <th class="text-center">
                Подробнее
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name.ToString()
                </td>
                <td class="text-center">
                    @item.EventDate.ToString("dd-MM-yyyy Время: HH:mm", CultureInfo.InvariantCulture)
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-light btn-sm" href="#" data-id="@item.Id">
                        <i data-id="@item.Id" class="fas fa-share"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*  sidebar  *@
<div class="sideNav" id="sideCalendar">
    <div class="side-nav-content">
        <button type="button" id="closeSideBar" class="close m-2" aria-label="Close">
            <span aria-hidden="true" title="Закрыть">&times;</span>
        </button>
        <div class="d-flex flex-column container-fields">
            @* datepicker *@
            <div id="datepicker" data-date="@DateTime.Now.ToLocalTime().ToString()"></div>
            @* for datepicker *@
            <input type="hidden" id="my_hidden_input">
        </div>
    </div>
</div>
@*  subscriberModal  *@
<div id="subscriberModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="subscriberModalTitle">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subscriberModalTitle">
                    <span class="badge badge-secondary">Подписаться на событие</span>
                </h5>
                <button type="button" class="close" aria-label="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item bg-main d-flex justify-content-between align-items-center">
                        Название:
                        <span data-name="" class="badge badge-light badge-pill"></span>
                    </li>
                    <li class="list-group-item bg-main d-flex justify-content-between align-items-center">
                        Дата:
                        <span data-event-date="" class="badge badge-light badge-pill"></span>
                    </li>
                    <li class="list-group-item bg-main d-flex justify-content-between align-items-center">
                        Мест:
                        <span data-total-place="" class="badge badge-secondary badge-pill" data-placement="top"
                              data-toggle="tooltip" title="Всего"></span>
                        <span data-place="" class="badge badge-light badge-pill" data-placement="top"
                              data-toggle="tooltip" title="Осталось"></span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal" >Закрыть</button>
                <button id="subscribeBtn" type="submit" class="btn btn-sm btn-outline-main">Подписаться</button>
            </div>
        </div>
    </div>
</div>
@*  js  *@
@section Scripts {
    @await Html.PartialAsync("_AlertPartial")

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var id;
            const sideCalendar = document.getElementById('sideCalendar');
            const closeSideBar = document.getElementById('closeSideBar');
            const sideCalendarBtn = document.getElementById('sideCalendarBtn');
            const table = document.getElementsByTagName('table')[0];
            const subscriberModal = document.getElementById('subscriberModal');
            const listGroup = subscriberModal.querySelector('ul.list-group');
            const eventName = subscriberModal.querySelector('span[data-name=""]');
            const eventDate = subscriberModal.querySelector('span[data-event-date=""]');
            const eventPlace = subscriberModal.querySelector('span[data-place=""]');
            const eventTotalPlace = subscriberModal.querySelector('span[data-total-place=""]');
            const subscribeBtn = document.getElementById('subscribeBtn');
            const sideRefreshBtn = document.getElementById('sideRefreshBtn');

            // subscribe submit
            subscribeBtn.addEventListener('click', (event) => {
                try {
                    if (id === null || id < 0) {
                        throw new Error("id can not be null");
                    }

                    subscribeBtn.disabled = true;
                    const data = new FormData();
                    data.append('id', id);
                    const url = '/Event/SubscribeToEvent';
                    const token = document.getElementById('RequestVarificationToken').value;                    

                    sendPostData(url, data, token)
                        .then((json) => {
                            const res = JSON.parse(json);
                            if (res.result == 'exist') {
                                $('#subscriberModal').modal('hide');
                                $('#subscriberExistModal').modal('show');
                            } 
                            if (res.result == 'success') {
                                $('#subscriberModal').modal('hide');
                                $('#successModal').modal('show');
                            }
                            console.log(res);
                            subscribeBtn.disabled = false;
                        })
                        .catch((error) => {
                            $('#subscriberModal').modal('hide');
                            $('#errorModal').modal('show');
                            console.log(error);
                            subscribeBtn.disabled = false;
                        });


                } catch (e) {
                    console.error(e);
                }
            });

            // reload page
            sideRefreshBtn.addEventListener('click', () => {
                window.location.reload();
            });

            // add cammon event listener 'click' (for event data show)
            document.addEventListener('click', (event) => {

                if (!event.target.hasAttribute('data-id')) {
                    return;
                }

                id = event.target.getAttribute('data-id');
                const url = '/Event/GetEventInfo?id=' + encodeURIComponent(id);

                getPromiseData(url)
                    .then((res) => {
                        responseGetEventInfo(res);
                        $('#subscriberModal').modal('show');
                    })
                    .catch((e) => {
                        console.error(e);
                        $('#errorModal').modal('show');
                    });                
            });

            // open sidebar
            sideCalendarBtn.addEventListener('click', (event) => {
                event.preventDefault();
                sideCalendar.style.opacity = '1';
                sideCalendar.style.width = '22.5rem';
            });

            // close sidebar
            closeSideBar.addEventListener('click', (event) => {
                event.preventDefault();
                closeSidebar();
            });

            // when choosed date
            $('#datepicker').datepicker()
                .on('changeDate', function (e) {
                    closeSidebar();
                    const date = new Date($('#datepicker').datepicker('getDate'));
                    const data = 'date=' + encodeURIComponent(date.toDateString());
                    const url = '/Event/GetEventsByDate?' + data;

                    getPromiseData(url)
                        .then((res) => {
                            responseGetEventsByDate(res);
                        })
                        .catch((e) => {
                            $('#errorModal').modal('show');
                            console.log(e);
                        });
                });

            // processing responce from GetEventInfo
            function responseGetEventInfo(json) {
                let data = JSON.parse(json);

                const date = new Date(data.eventDate);
                eventName.textContent = data.name;
                eventDate.textContent = 'Дата: ' + toDateRusString(date) +
                    ' Время: ' + date.toLocaleTimeString('ru-RU', { hour12: false });
                eventTotalPlace.textContent = data.amountOfParticipants;

                let places = getPlaces(data.subscribersCount, data.amountOfParticipants);
                ifEventPlace(places);
                eventPlace.textContent = places;
                setDataTagLi(data);
                console.log(data);
            }

            // set ui event places
            function ifEventPlace(places) {
                if (places < 0) {
                    throw new Error("Places can not be < 0.");

                } else if (places === 0) {
                    eventPlace.style.color = '#ff5c5c';
                    subscribeBtn.disabled = true;
                    subscribeBtn.setAttribute('title', 'Мест нет.');
                }
                else {
                    eventPlace.style.color = '#212529';
                    subscribeBtn.disabled = false;
                    if (subscribeBtn.hasAttribute('title')) {
                        subscribeBtn.removeAttribute('title');
                    }
                }
            }

            // replace tags li and set data
            function setDataTagLi(data) {
                const allTagsLI = listGroup.querySelectorAll('li[data-li="data-li"]');

                if (allTagsLI.length > 0) {
                    
                    for (var i = 0; i < allTagsLI.length; i++) {
                        listGroup.removeChild(allTagsLI[i]);
                    }
                }

                if (data.content != null) {
                    for (var i = 0; i < data.content.length; i++) {
                        listGroup.insertAdjacentElement('beforeend',
                            createTagLiWithData(data.content[i].name, data.content[i].value));
                    }
                }
            }

            // get places
            function getPlaces(subscribers, total) {
                if (subscribers >= total) {
                    return 0;
                }
                return (total - subscribers);
            }

            // create tag li tag with data
            function createTagLiWithData(name, value) {
                const li = document.createElement('li');
                li.setAttribute('data-li', 'data-li');
                li.classList.add('list-group-item', 'bg-main', 'd-flex',
                    'justify-content-between', 'align-items-center');
                li.innerHTML = '' + name + '<span class="badge badge-light badge-pill">'+ value +'</span>';
                return li;
            }

            // processing response from EventsByDate
            function responseGetEventsByDate(res) {
                const oldTbody = document.getElementsByTagName('tbody')[0];
                let data = JSON.parse(res);
                if (data.result == 'success') {

                    oldTbody.remove();
                    createNewTbody(data);

                    console.log(data);
                } else {
                    $('#notDataModal').modal('show');
                    console.log(res);
                }
            }

            // create new tbody
            function createNewTbody(data) {
                const newTbody = document.createElement('tbody');

                for (var i = 0; i < data.events.length; i++) {
                    newTbody.appendChild(createNewTr(data.events[i]));
                }

                table.appendChild(newTbody);
            }

            // create new tr
            function createNewTr(json) {
                const tr = document.createElement('tr');
                const date = new Date(json.eventDate);

                tr.innerHTML = '<td>' + json.name + '</td>'
                    + '<td class="text-center">' + toDateRusString(date)
                    + ' Время: ' + date.toLocaleTimeString('ru-RU', { hour12: false }) + '</td>'
                    + '<td class="text-center">'
                    + '<a class="btn btn-outline-light btn-sm" href="#"'
                    + 'data-id="' + json.id + '"><i data-id="' + json.id + '" class="fas fa-share"></i>'
                    + '</a></td>';

                return tr;
            }

            // to date string
            function toDateRusString(d) {
                let day = addZero(d.getDate());
                let month = addZero(d.getMonth() + 1);
                let year = d.getFullYear();
                return (day + '-' + month + '-' + year).toString();
            }

            // get events by date from server
            function getPromiseData(url) {
                return new Promise((resolve, reject) => {
                    const xhr = new XMLHttpRequest();
                    xhr.open('GET', url);
                    xhr.onload = () => {
                        if (xhr.status == 200) {
                            resolve(xhr.response);
                        } else {
                            reject(xhr.response);
                        }
                    };
                    xhr.onerror = () => {
                        reject(xhr.response);
                    };
                    xhr.send();
                });
            }

            // close side bar
            function closeSidebar() {
                sideCalendar.style.opacity = '0';
                sideCalendar.style.width = '0px';
            }
        });
    </script>

}
